<%- include("../partials/head") %>
<body>
    <%- include('../partials/header') %>
  <main class="main">
    <% if (locals.dataList) { %>
         <%- include('../partials/sidebar') %>
    <% } %>
      <%- include('../partials/indexSeasons') %>
      <%- include('../partials/activityDetails') %>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>
